# For the entire repository.
# Make sure you are using AT LEAST Python 3.8.

tqdm==4.64.0 # Pretty progress bar
pytest==7.1.2 # For testing.
matplotlib # Visualizations.
torch==1.12.1 # Tensors and Dynamic neural networks in Python with strong GPU acceleration.
numpy==1.23.2 # NumPy is the fundamental package for array computing with Python.